<!-- Grid layout for desktop screens 1024px  -->
<div class="grid grid--1x3">
  <!-- Don't include inline styles it was just demonstration purpose -->
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
  <div style="height: 100px; background: orange"></div>
</div>

<!-- Grid layout for tablets screen 768px -->
<div class="grid grid--1x2">
  <!-- Don't include inline styles it was just demonstration purpose -->
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
  <div style="height: 100px; background: orange"></div>
</div>
