<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit
      recusandae nemo eveniet facere consequuntur fugiat inventore ipsum sint
      rerum cupiditate.
    </p>
    <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Jhone Lumeo</h3>
            <p class="media__text quote__organization">
              Mosh Company ceo
            </p>
          </div>
    </footer>
  </blockquote>